{% extends 'newsletter/email_base.html' %}
{% load base_tags %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  {{ message|markdownify|safe }}
  {% for sponsor in sponsors %}
    {% if sponsor.email_sponsor %}
      <div style="margin-top: 20px;">
        <hr/>
        <h3>Sponsored by {{ sponsor.name }}</h3>
        <p>
          {{ sponsor.email_text_markdown|markdownify|safe }}
        </p>
      </div>
    {% endif %}
  {% endfor %}
  <p style="margin-top: 20px; text-align: right">
    <small><a href="-unsub_url-">Click here to unsubscribe from the UWCS newsletter</a></small>
  </p>
{% endblock %}