{% extends 'base.html' %}

{% block title %}UWCS | Send newsletter{% endblock %}

{% block content %}
  <section class="row margin-top-2x margin-bottom-1x">
    <div class="small-12 medium-8 large-6 medium-push-2 large-push-3 columns">
      <h2>Send a newsletter</h2>
    </div>
  </section>
  <section class="row margin-top-2x margin-bottom-1x">
    <div class="small-12 medium-8 large-6 medium-push-2 large-push-3 columns">
      <form method="post">{% csrf_token %}
        {{ form }}

        <input type="submit" class="button" value="Send newsletter">
      </form>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
  {{ form.media }}
{% endblock %}