{% load base_tags wagtailcore_tags blog_tags %}

<aside class="small-12 medium-4 large-3 {% if display_first %}medium-push-8 large-push-9{% endif %} columns sidebar">
  {% if show_sponsor %}
    {% sponsor_sidebar %}
  {% endif %}

  {% if archives %}
    <div class="row">
      <div class="small-12 columns">
        <h5>Archives</h5>
        <ul class="vertical menu" data-accordion-menu>
          {% for year, months in archives.items %}
            <li>
              <a href="#">{{ year }}</a>
              <ul class="vertical menu">
                {% for month, posts in months.items %}
                  <li><a
                      href="{% pageurl archive_index %}?date={{ year }}-{{ month|stringformat:'02d' }}">{{ month|to_month_str }}
                    ({{ posts|length }})</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</aside>
