{% load wagtailcore_tags %}

<section class="row">
  <div class="small-12 columns">
    <ul class="pagination text-center" role="navigation" aria-label="Pagination">
      <li class="pagination-previous {% if not blogs.has_previous %}disabled{% endif %}">
        {% if blogs.has_previous %}
          <a href="?page={{ blogs.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous page"><i class="fa fa-arrow-left"></i> Previous</a>
        {% else %}
          <span><i class="fa fa-arrow-left"></i> Previous</span>
        {% endif %}
      </li>

      <li class="current"><span class="show-for-sr">You're on </span> Page {{ blogs.number }} of {{ paginator.num_pages }}</li>

      <li class="pagination-next {% if not blogs.has_next %}disabled{% endif %}">
        {% if blogs.has_next %}
          <a href="?page={{ blogs.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next page">Next <i class="fa fa-arrow-right"></i></a>
        {% else %}
          <span>Next <i class="fa fa-arrow-right"></i></span>
        {% endif %}
      </li>
    </ul>
  </div>
</section>