{% load wagtailcore_tags wagtailimages_tags blog_tags %}

<div class="stream-field">
  {% for child in content %}
    {% if child.block_type == 'h2' %}
      <h2 id="{{ child | slugify }}">
        {{ child }} <a href="#{{ child | slugify }}" class="header-link"><i class="fa fa-paragraph" aria-hidden="true"></i></a>
      </h2>
    {% elif child.block_type == 'h3' %}
      <h3 id="{{ child | slugify }}">
        {{ child }} <a href="#{{ child | slugify }}" class="header-link"><i class="fa fa-paragraph" aria-hidden="true"></i></a>
      </h3>
    {% elif child.block_type == 'h4' %}
      <h4 id="{{ child | slugify }}">
        {{ child }} <a href="#{{ child | slugify }}" class="header-link"><i class="fa fa-paragraph" aria-hidden="true"></i></a>
      </h4>
    {% elif child.block_type == 'code' %}
      <div class="code-block">
        {{ child }}
        <p class="text-right">{{ child.value.language | get_code_language }}</p>
      </div>
    {% elif child.block_type == 'pullquote' %}
      <blockquote>
        {{ child.value.quote }}
        {% if child.value.attribution %}
          <cite>{{ child.value.attribution }}</cite>
        {% endif %}
      </blockquote>
    {% elif child.block_type == 'paragraph' %}
      {{ child.value | richtext }}
    {% elif child.block_type == 'image' %}
      {% image child.value width-900 %}
    {% elif child.block_type == 'document' %}
      <div class="document-wrapper">
        {{ child }}
      </div>
    {% else %}
      {{ child }}
    {% endif %}
  {% endfor %}
</div>