amqp==2.2.2
anyjson==0.3.3
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
cssselect==1.0.1
cssutils==1.0.2
Django==1.11.6
django-anymail==1.0
django-appconf==1.0.2
django-bower==5.2.0
django-classy-tags==0.8.0
django-compressor==2.2
django-ical==1.4
django-libsass==0.7
django-markdownx==2.0.21
django-modelcluster==3.1
django-taggit==0.22.1
django-taggit-templatetags2==1.6.1
django-treebeard==4.1.2
djangorestframework==3.7.0
html5lib==0.999999999
icalendar==3.11.7
idna==2.6
kombu==4.1.0
ldap3==2.3
libsass==0.13.2
lxml==4.0.0
Markdown==2.6.9
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.1
pyasn1==0.3.7
Pygments==2.2.0
python-dateutil==2.6.1
pytz==2017.2
rcssmin==1.0.6
redis==2.10.6
requests==2.18.4
rjsmin==1.0.12
six==1.11.0
Unidecode==0.4.21
urllib3==1.22
vine==1.1.4
wagtail==1.12.2
webencodings==0.5.1
Willow==1.0
