{% load wagtailcore_tags blog_tags %}

<section class="row" id="news">
  <div class="small-12 columns">
    <h4>Recent news</h4>
  </div>
  {% blog_sidebar %}
  <div class="small-12 medium-8 medium-pull-4 large-9 large-pull-3 columns">
    {% for blog in blogs %}
      {% include "blog/includes/blog_list_item.html" %}
    {% empty %}
      {# TODO: Empty blog feed message #}
    {% endfor %}

    {% if blogs %}
      <div class="row" role="navigation" aria-label="Older news">
        <div class="small-12 columns">
          <p class="text-right older-news"><a href="{% pageurl blog_index %}">Older news</span></a></p>
        </div>
      </div>
    {% endif %}
  </div>
</section>