{% load base_tags blog_tags taggit_templatetags2_tags wagtailcore_tags %}

{% get_taglist as tags for 'blog.BlogPage' %}

<aside class="small-12 medium-4 large-3 medium-push-8 large-push-9 columns sidebar">
  {% if show_sponsor %}
    {% sponsor_sidebar %}
  {% endif %}

  <div class="row">
    {% if tags and show_tags %}
      <div class="{% if archives %}small-6 medium-12{% else %}small-12{% endif %} columns">
        <h5>News categories</h5>
        <ul class="vertical menu">
          {% for tag in tags %}
            <li>
              <a href="{% pageurl blog_index %}?tag={{ tag }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if archives %}
      <div class="small-6 medium-12 columns">
        <h5>Archives</h5>
        <ul class="vertical menu" data-accordion-menu>
          {% for year, months in archives.items %}
            {% if forloop.counter0 < archive_count %}
              <li>
                <a href="#">{{ year }}</a>
                <ul class="vertical menu">
                  {% for month, posts in months.items %}
                    <li><a
                        href="{% pageurl blog_index %}?date={{ year }}-{{ month|stringformat:'02d' }}">{{ month|to_month_str }}
                      ({{ posts|length }})</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if children %}
      <div class="small-12 columns">
        <h5>Useful links</h5>
        <ul class="vertical menu">
          {% for child in children %}
            <li>
              <a href="{% pageurl child %}">{{ child.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</aside>