{% load static compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>UWCS | {{ nickname }}'s site under construction</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#141E24"/>
  {# Facebook post image #}
  <meta property="og:image" content="https://uwcs.co.uk/static/favicon-180.png"/>

  {# Global stylesheets #}
  <link href="https://uwcs.co.uk/static/css/app.min.css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat|Ubuntu+Mono" rel="stylesheet">

  <link rel="shortcut icon" href="https://uwcs.co.uk/static/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="https://uwcs.co.uk/static/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="https://uwcs.co.uk/static/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="https://uwcs.co.uk/static/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://uwcs.co.uk/static/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="https://uwcs.co.uk/static/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://uwcs.co.uk/static/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://uwcs.co.uk/static/favicon-16.png">
  <link rel="apple-touch-icon" href="https://uwcs.co.uk/static/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://uwcs.co.uk/static/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://uwcs.co.uk/static/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://uwcs.co.uk/static/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://uwcs.co.uk/static/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://uwcs.co.uk/static/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://uwcs.co.uk/static/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://uwcs.co.uk/static/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://uwcs.co.uk/static/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="https://uwcs.co.uk/static/favicon-144.png">
  <meta name="msapplication-config" content="https://uwcs.co.uk/static/browserconfig.xml">
</head>

<body>
<div class="flex-row align-center margin-top-2x" style="
    justify-content: center;
">
  <div class="flex-columns flex-shrink" style="
">
    <svg width="326" height="250" viewBox="0 0 326 332" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <text id="b" font-family="Montserrat-Bold, Montserrat" font-size="60" font-weight="bold" letter-spacing="18"
              fill="#FFF">
          <tspan x=".83" y="58">UWCS</tspan>
        </text>
        <filter x="-.4%" y="-.7%" width="100.8%" height="102.7%" filterUnits="objectBoundingBox" id="a">
          <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
          <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0" in="shadowOffsetOuter1"></feColorMatrix>
        </filter>
        <filter x="-.6%" y="-.9%" width="101.1%" height="103.5%" filterUnits="objectBoundingBox" id="c">
          <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
          <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" in="shadowOffsetOuter1"
                         result="shadowMatrixOuter1"></feColorMatrix>
          <feMerge>
            <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
            <feMergeNode in="SourceGraphic"></feMergeNode>
          </feMerge>
        </filter>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(38 233)" fill="#FFF">
          <use filter="url(#a)" xlink:href="#b"></use>
          <use xlink:href="#b"></use>
        </g>
        <g filter="url(#c)" transform="rotate(45 53.042 206.58)">
          <ellipse fill="#FDD835" cx="25.961" cy="86.515" rx="25" ry="24.82"></ellipse>
          <ellipse fill="#3D5AFE" cx="88" cy="88.82" rx="25" ry="24.82"></ellipse>
          <ellipse fill="#3D5AFE" cx="150.039" cy="88.82" rx="25" ry="24.82"></ellipse>
          <ellipse fill="#FDD835" cx="26" cy="24.82" rx="25" ry="24.82"></ellipse>
        </g>
      </g>
    </svg>
  </div>
</div>
<div class="row margin-bottom-1x">
<div class="small-12 columns">
  <h1 class="text-center">Site under construction</h1>
  <p class="text-center">{{ nickname }}'s website is still under construction. Check back again in the future.</p>
</div>
</body>
</html>
