{% extends "base.html" %}

{% load wagtailcore_tags blog_tags base_tags %}

{% block title_prefix %}UWCS | {% endblock %}

{% block content %}
  <section class="row margin-top-2x margin-bottom-1x">
    <div class="small-12 columns">
      <h4>{{ self.full_title }}</h4>
    </div>

    {% blog_sidebar show_children=True parent=self %}

    <div class="small-12 medium-8 medium-pull-4 large-9 large-pull-3 columns">
      {% include 'blog/includes/streamfield.html' with content=body %}
    </div>
  </section>
{% endblock content %}