{% extends "base.html" %}

{% load wagtailcore_tags base_tags %}

{% block title_prefix %}UWCS | {% endblock %}

{% block content %}
  <section class="row margin-top-2x">
    <div class="small-12 medium-4 medium-push-8 large-3 large-push-9 columns">
      {% sponsor_sidebar %}
    </div>
    <div class="small-12 medium-8 medium-pull-4 large-9 large-pull-3 columns">
      <h2>{{ self.full_title }}</h2>

      {% include 'blog/includes/streamfield.html' with content=body %}
    </div>

  </section>
{% endblock content %}