{% extends "base.html" %}

{% load wagtailcore_tags base_tags blog_tags %}

{% block title %}UWCS | News (page {{ blogs.number }}){% endblock %}

{% block content %}
  <section class="row margin-top-2x">
    <div class="small-12 columns margin-bottom-1x">
      <h4>{{ self.title }}</h4>
      {% search_filters %}
    </div>
    {% blog_sidebar show_tags=True show_archives=True %}
    <div class="small-12 medium-8 medium-pull-4 large-9 large-pull-3 columns">
      {% for blog in blogs.object_list %}
        {% include "blog/includes/blog_list_item.html" %}
      {% empty %}
        <p>No news item can be found</p>
      {% endfor %}

      {% if blogs %}
        {% include "blog/includes/pagination.html" %}
      {% endif %}
    </div>
  </section>
{% endblock content %}