{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags blog_tags base_tags %}
{% get_site_root as site_root %}

{% block content %}
  <section class="jumbotron margin-top-2x">
    <div class="flex-row">
      <div class="flex-column flex-shrink hide-for-small-only">
        <svg style="margin-top: 16px;" width="102" height="135" viewBox="0 0 144 191" xmlns="http://www.w3.org/2000/svg">
          <g transform="rotate(45 46.337 82.743)">
            <ellipse fill="#FDD835" cx="25.961" cy="86.515" rx="25" ry="24.82"/>
            <ellipse fill="#3D5AFE" cx="88" cy="88.82" rx="25" ry="24.82"/>
            <ellipse fill="#3D5AFE" cx="150.039" cy="88.82" rx="25" ry="24.82"/>
            <ellipse fill="#FDD835" cx="26" cy="24.82" rx="25" ry="24.82"/>
          </g>
        </svg>
      </div>
      <div class="flex-column">
        <h1>{{ site_root.title }}</h1>
        <p>{{ page.description }}</p>
      </div>
    </div>

    {% sponsor_homepage %}
  </section>

  {% event_listing_homepage %}

  {% blog_listing_homepage %}
{% endblock %}