{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags blog_tags base_tags %}
{% get_site_root as site_root %}

{% block content %}
  <section class="jumbotron large">
    <div class="flex-row">
      <div class="flex-column flex-shrink hide-for-small-only">
        <svg style="margin-top: 16px;" xmlns="http://www.w3.org/2000/svg" width="121" height="135" viewBox="0 0 131 180" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><ellipse fill="#FDD835" cx="21.1" cy="66" rx="21.1" ry="21"/><ellipse fill="#3D5AFE" cx="66.3" cy="112.5" rx="21.1" ry="21"/><ellipse fill="#3D5AFE" cx="109.9" cy="159" rx="21.1" ry="21"/><ellipse fill="#FDD835" cx="66.3" cy="21" rx="21.1" ry="21"/></g></svg>
      </div>
      <dir class="flex-column">
        <h1>{{ site_root.title }}</h1>
        <p>{{ page.description }}</p>
      </dir>
    </div>
    {% if page.sponsor_image %}
      <div class="row">
        <div class="small-12 text-center flex-columns">
          <h4>Sponsored by:</h4>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 large-4 medium-offset-3 large-offset-4 columns">
          {% image page.sponsor_image width-400 %}
        </div>
      </div>
    {% endif %}
  </section>

  {% blog_listing_homepage %}
{% endblock %}