{% extends 'base.html' %}

{% block title %}UWCS | Enter new password{% endblock %}

{% block content %}
  <section class="row margin-top-2x margin-bottom-1x">
    <div class="small-12 {% if validlink %}medium-8 large-6 medium-push-2 large-push-3 {% endif %}columns">
      {% if validlink %}
        <h3>Reset password</h3>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post">
          {% csrf_token %}

          <label {% if form.new_password1.errors %}class="error"{% endif %}>{{ form.new_password1.label }}
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
              <span class="error">{{ form.new_password1.errors.as_text }}</span>
            {% endif %}
          </label>
          <label {% if form.new_password2.errors %}class="error"{% endif %}>{{ form.new_password2.label }}
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
              <span class="error">{{ form.new_password2.errors.as_text }}</span>
            {% endif %}
          </label>

          <input type="submit" class="button" value="Log in">
        </form>
      {% else %}
        <h3>Invalid reset link</h3>
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}