{% extends 'base.html' %}

{% block title %}UWCS | Password reset sent{% endblock %}

{% block content %}
  <section class="row">
    <div class="small-12 columns margin-top-1x">
      <h3>Email sent</h3>
      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
  </section>
{% endblock %}