{% load static wagtailuserbar compress base_tags %}
{% is_nightmode as nightmode %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{% block title_prefix %}{% endblock %}{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}
    {{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#141E24"/>
  {# Facebook post image #}
  <meta property="og:image" content="https://uwcs.co.uk/static/favicon-180.png"/>

  {# Global stylesheets #}
  {% if nightmode %}
    {% compress css %}
      <link href="{% static 'scss/app-dark.scss' %}" rel="stylesheet" type="text/x-scss"/>
    {% endcompress %}
  {% else %}
    {% compress css %}
      <link href="{% static 'scss/app.scss' %}" rel="stylesheet" type="text/x-scss"/>
    {% endcompress %}
  {% endif %}
  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i|Montserrat:500|Ubuntu+Mono" rel="stylesheet">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}

  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/static/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="/static/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/static/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/static/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16.png">
  <link rel="apple-touch-icon" href="/static/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/static/favicon-144.png">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
</head>

<body class="{% if nightmode %}nightmode{% endif %}">
{% wagtailuserbar %}

<div class="flex-wrapper">
  {% get_site_root as site_root %}
  <div class="flex-content">
    {% top_menu parent=site_root calling_page=request.path %}

    {% block content %}{% endblock %}
  </div>

  <div class="flex-footer footer">
    {% footer parent=site_root %}
  </div>
</div>

{# Global javascript #}
<script type="text/javascript" src='{% static 'js/jquery.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/foundation.min.js' %}'></script>

<script type="text/javascript">
    $(document).foundation();

    // Set jQuery XHR header for CSRF requests
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Night mode switch toggle
    $(document).ready(function () {
        $("#night-mode-switch").change(function () {
            $.post(
                '{% url 'toggle_night_mode' %}',
                {
                    'night_mode': $(this).is(':checked')
                },
                function() {
                    location.reload();
                }, 'text');
        });
    });
</script>
{% block extra_js %}
  {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
