{% load static wagtailuserbar compress base_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block title_prefix %}{% endblock %}{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#263238" />

  {# Global stylesheets #}
  {% compress css %}
    <link href="{% static 'scss/app.scss' %}" rel="stylesheet" type="text/x-scss" />
  {% endcompress %}
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat|Ubuntu+Mono" rel="stylesheet">

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body>
  {% wagtailuserbar %}

  <div class="flex-wrapper">
    {% get_site_root as site_root %}
    <div class="flex-content">
      {% top_menu parent=site_root calling_page=request.path %}

      {% block content %}{% endblock %}
    </div>

    <div class="flex-footer footer">
      {% footer parent=site_root %}
    </div>
  </div>

  {# Global javascript #}
  <script type="text/javascript" src='{% static 'js/jquery.min.js' %}'></script>
  <script type="text/javascript" src='{% static 'js/foundation.min.js' %}'></script>

  {% compress js %}
    <script type="text/javascript">
      $(document).foundation();
    </script>
    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
  {% endcompress %}
</body>
</html>
