from .base import *

DEBUG = True
SECRET_KEY = 'your_secret_key_here'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'database_name',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

try:
    from .local import *
except ImportError:
    pass

# LDAP
LDAP_URL = 'ldap://localhost'
LDAP_PORT = 389
LDAP_USER = 'ldap_user'
LDAP_PASSWORD = 'ldap_password'

# Anymail
EMAIL_ABS_URL = "http://localhost:8000"
EMAIL_BACKEND = 'anymail.backends.sendgrid.EmailBackend'

ANYMAIL = {
    'SENDGRID_API_KEY': 'your_api_key',
    'SENDGRID_MERGE_FIELD_FORMAT': '-{}-'
}

# SASS Compression
COMPRESS_ENABLED = True
COMPRESS_OFFLINE = True

# WarwickSU Membership API key
UNION_API_KEY = 'su_api_key'

# Apache template conf
APACHE_SSL_CIPHER_SUITE = ''
APACHE_SSL_CERT_FILE = ''
APACHE_SSL_KEY_FILE = ''
APACHE_SSL_CHAIN_FILE = ''
APACHE_SITES_AVAILABLE = ''
APACHE_SITES_ENABLED = ''
APACHE_WEBSITE_DIR = ''

# Allowed hosts
ALLOWED_HOSTS = [
    'allowed_host(s)'
]
